{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/userbase.css' %}">
</head>
<body>
	<main>
		<div class="header">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">logout</a></li>
				<li><a href="#">my predictions</a></li>
				<li><a href="#">my farms </a></li>
			</ul>
		</div>
		<div class="container">
			<div class="flex-item sidepane side">
          
				
			</div>
			<div class="flex-item  main">
				<div>
					<h1 class="content-title">my farms</h1>
				</br>
					<button><a href="#">+ add farm</a></button>
				</div>
				<!--cards-->
				<div class="card">
					<img src="">
					<div class="content">
						<h2>farm name</h2>
						<p>size</p>
						<h3>number of predictions</h3>
					</div>	
				</div>
			</div>
			
			
		</div>
	</main>
</body>
</html>

