
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="">
  <h1 class="well">Shamari Ishmael</h1>
  <br />
  <br />

  <div>
    <img class="profile" src="#"
      alt="" />


    <div class="list-group col-md-6 pull-right pad">
      <p class="list-group-item highlight">Username<span class="pull-right">{{user.username}}</span></p>
      <p class="list-group-item highlight">First Name<span class="pull-right">{{user.username}}</span></p>
      <p class="list-group-item highlight">Last Name<span class="pull-right">{{user.username}}</span></p>
      <p class="list-group-item highlight">email<span class="pull-right">1(246)822-6956</span></p>
      <p class="list-group-item highlight">Total predictions <span class="pull-right">{{total}}</span></p>
     
      
      <br />
      
      
      <div class="pull-right">
        <button class="btn btn-success btn-md" onclick="edit()"> Edit</button>
        <button class="btn btn-danger btn-md" onclick="reset()">Reset Password</button>
      </div>
    </div>
  </div>
  <br/>


</div>
</body>
</html>
