<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="" method="Post">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="coment">
</form>

{% for r in reviews %}
{% if r.comment %}
 <div class="box">
 	<h2></h2>
 	
 	<p>Author: {{r.author}} {{r.comment}}<p>
 		{% if r.author == user.username %}
 		<button>delete</button>
         <button>edit</button>
 		{% endif %}

 </div>

 {% endif %}

{% endfor %}
 
</body>
<style type="text/css">
	.box{
		border: 1px solid #333;
	}
</style>
</html>